<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock %} | GPTQuiz</title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base_admin.css') }}">
        {% block head %} 
        {% endblock %}
    </head>
    <body>
        <aside>
            <a class="title-logo" href="/admin/">
                <img src="{{ url_for('static', filename= 'images/atom.svg') }}">
                <h1>GPTQuiz</h1>
            </a>
            
            <form action="/get-draft/">
                <button type="submit" class="create-btn-ripple createQuiz">
                    + Створити
                </button>
            </form>
            <input type="hidden" id="quizCreate" value="">
            <div class="links">
                <a class="tab-link" href="/library/">
                    <div>
                        <img src="{{ url_for('static', filename= 'images/library.svg') }}">
                        <p>Бібліотека</p>
                    </div>
                    <div class="divider"></div>
                </a>
                <a class="tab-link" href="/history/">
                    <div>
                        <img src="{{ url_for('static', filename= 'images/history.svg') }}">
                        <p>Історія</p>
                    </div>
                    <div class="divider"></div>
                </a>
                <a class="tab-link" href="/reports/">
                    <div>
                        <img src="{{ url_for('static', filename= 'images/reports.svg') }}">
                        <p>Звіти</p>
                    </div>
                    <div class="divider"></div>
                </a>
                <!-- <a class="tab-link" href="" class="gpt-quiz-ai">
                    <div>
                        <img src="{{ url_for('static', filename= 'images/ai.svg') }}">
                        <p class="ai-text">GPTQuiz AI</p>
                    </div>
                </a> -->
            </div>
        </aside>
        <div class="nav">
            <a href="/execution/" class="enter-code">Введіть код</a>
            <a href="/profile/" id="username">{{username}}</a>
            <a href="/logout/" class="logout">
                <img src="{{ url_for('admin_app.static', filename= 'images/logout.svg') }}">
            </a>
        </div>
        {% block content %}
        
        {% endblock %}
    </body>
    <script src="{{ url_for('static', filename= 'js/getDraft.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/ripple.js') }}"></script>
    <script src="{{ url_for('library_app.static', filename = 'js/createQuiz.js')}}"></script>
</html>