<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock %} | GPTQuiz</title>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/atom.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base_student.css') }}">
        {% block head %} {% endblock %}
    </head>
    <body>
        {% block content %}
            
        {% endblock %}
        <script src="{{ url_for('static', filename= 'js/ApexCharts.js') }}"></script>
    </body>
</html>