<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock %} | GPTQuiz</title>
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/atom.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base_admin.css') }}">
        {% block head %} 
        {% endblock %}
    </head>
    <body>
        <aside>
            <a class="title-logo" href="/admin/">
                <img src="{{ url_for('static', filename= 'images/atom.svg') }}">
                <h1>GPTQuiz</h1>
            </a>
            
            <input type="hidden" id="quizCreate" value="">
            <div class="links">
                <a class="tab-link" href="{{ url_for('classroom_app.render_classrooms') }}">
                    <div>
                        <img src="{{ url_for('static', filename= 'images/classroom.svg') }}">
                        <p>Мої класи</p>
                    </div>
                    <div class="divider myClassLink"></div>
                </a>
                <a class="tab-link" href="{{ url_for('library_app.render_library') }}">
                    <div>
                        <img src="{{ url_for('static', filename= 'images/library.svg') }}">
                        <p>Бібліотека</p>
                    </div>
                    <div class="divider libraryLink"></div>
                </a>
                <a class="tab-link" href="{{ url_for('reports_app.render_reports_page') }}">
                    <div>
                        <img src="{{ url_for('static', filename= 'images/reports.svg') }}">
                        <p>Звіти</p>
                    </div>
                    <div class="divider reportsLink"></div>
                </a>
            </div>
        </aside>
        <header class="nav">
            <div class="firstNav">
                <h2>{% block name_page %}{% endblock %}</h2>
                <div>{% block extended_name %}{% endblock %}</div>
            </div>
            <div class="secondNav">
                <form class="createForm" action="/get-draft/">
                    <button type="submit" class="create-btn-ripple createQuiz">
                        + Створити
                    </button>
                </form>
                <a href="/execution/" class="enter-code">Введіть код</a>
                <a href="/profile/" id="username">{{username}}</a>
                <a href="/logout/" class="logout">
                    <img src="{{ url_for('admin_app.static', filename= 'images/logout.svg') }}">
                </a>
            </div>
        </header>
        {% block content %}
        
        {% endblock %}
    </body>
    <script src="{{ url_for('static', filename= 'js/getDraft.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/ripple.js') }}"></script>
</html>