{% extends 'base_admin.html' %}

{% block title %}
    History
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('history_app.static', filename= 'css/history.css') }}">
{% endblock %}

{% block content %}
    <header>
        <h2>Пройдено мною</h2>
    </header>
    <div class="passed-quizes">

        {% for result in results %}
            <div class="quiz">
                <img src="{{ url_for('library_app.static', filename=result.redeemcode.quiz1.image) }}" alt="">
                <h3>Назва: {{ result.name }}</h3>
                <h4>Автор: {{ result.name_teacher }}</h4>
                <p id="desc">опис: {{ result.description }}</p>
                <hr>
                <p>Всього запитань: {{ result.all_answers }}</p>
                <p>Бали: {{ result.right_answers }}/{{ result.all_answers }}</p>
                <p>Оцінка: {{ 12 // result.all_answers * result.right_answers }}/12</p>
                <hr>
                {% if result.redeemcode %}
                    <h4>Ім’я вчителя: {{ result.redeemcode.hosted.surname }} {{ result.redeemcode.hosted.name }}</h4>
                {% else %}
                    <h4>Ім’я вчителя: Невідомо</h4>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}