{% extends 'base_admin.html' %}

{% block title %}
    History
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('history_app.static', filename= 'css/history.css') }}">
{% endblock %}

{% block content %}
    <header>
        <h2>Пройдено мною</h2>
    </header>
    <div class="passed-quizes">

        {% for participiant in participiants %}
            <a href="/reportStudent/{{ participiant.report.hash_code }}" class="quiz">
                <img src="{{ url_for('library_app.static', filename= participiant.room.roomsQuiz.image) }}" alt="">
                <div>
                    <h3>Вікторина: {{ participiant.room.roomsQuiz.name }}</h3>
                    <p id="desc">{{ participiant.room.roomsQuiz.description }}</p>
                    <p>Нікнейм: {{ participiant.nickname }}</p>
                    <p>Правильних відповідей: {{ participiant.report.correct_answers }}/{{ participiant.report.total_questions }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}