{% extends 'base_admin.html' %}

{% block title %}
    History
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('history_app.static', filename= 'css/history.css') }}">
{% endblock %}

{% block content %}
    <header>
        <h2>Пройдено мною</h2>
    </header>
    <div class="passed-quizes">

        {% for participiant in participiants %}
            <div class="quiz">
                <h3>Назва вікторини: {{ participiant.room.roomsQuiz.name }}</h3>
                <p>Нікнейм: {{ participiant.nickname }}</p>
                <p>Правильних відповідей: {{ participiant.report.correct_answers }}/{{ participiant.report.total_questions }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}