<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('host_app.static', filename='css/hostingroom.css') }}">
        <title>Document</title>
    </head>
    <body>
        
        <div class="room-info">
            <div class="bottom-box" style="display: none;">
                <div id="timerDiv">
                    <img id="timerIMG" src="{{ url_for('host_app.static', filename='images/timer.svg') }}">
                    <div id="timer"></div>
                </div>
                <div id="timeControl">
                    <button id="15sAdd" class="controlers">+15</button>
                    
                </div>
            </div>
            <div id="resultsContainer"></div>
            <div id="QandR"></div>
            <div id="room">
                <div class="how-to-join">
                    <div>
                        <h3>1</h3>
                    </div>
                    <h4>Приєднайтеся за посиланням</h4>
                    <button id="copy-url"><img class="img-copy" src="{{ url_for('host_app.static', filename='images/copy.svg') }}"></button>
                </div>
                <a href="" onclick="window.open(this.href); return false;" id="linkToJoin">joinqptquiz.com</a>
                <div class="line"></div>
                <div class="how-to-join">
                    <div>
                        <h3>2</h3>
                    </div>
                    <h4>Приєднайтеся за кодом</h4>
                    <button id="copy-code"><img class="img-copy" src="{{ url_for('host_app.static', filename='images/copy.svg') }}"></button>
                </div>
                <h2 id="codeDisplay">{{ code }}</h2>
                <button id="start-quiz">
                    <img src="{{ url_for('host_app.static', filename='images/start.svg') }}">
                    <p>Почати вікторину</p>
                </button>
            </div>
            <div class="participants">
                <h2 id="usersText">Участники:</h2>
                <ol id="users"></ol>
            </div>
        </div>
        <div class="mini-menu">
            
        </div>

        <div id="modalImage" class="modal hidemodal">
            <button id="closeModal"><img src="{{ url_for('library_app.static', filename='images/close.svg') }}"></button>
            <div>
                <img id="modalImageContent" src="" alt="Modal Image">
            </div>
        </div>
        <div id="Wblur" class="hideblur"></div>

        <script src="{{ url_for('static', filename= 'js/ApexCharts.js') }}"></script>
        <script src="{{ url_for('host_app.static', filename='js/donut_chart.js') }}"></script>
        <script>
            const socket = io();
            const code = "{{ code }}"; 
            const div = document.getElementById('QandR');
            const nextBtn = document.createElement('button');
            nextBtn.id = 'nextBtn';
            nextBtn.classList.add("controlers")
            const imgBtn = document.createElement("img")
            imgBtn.src = "{{ url_for('host_app.static', filename= 'images/next.svg') }}"
            nextBtn.appendChild(imgBtn)
            let currentPage = "question_answers"
            let timerInterval = null;
            socket.emit("host_join", { room: code });
        
            const buttonStart = document.getElementById("start-quiz");
            
            function switchPages (switchPage, question_container, answers_container, button1, button2) {
                if (switchPage === currentPage) {
                    return;
                } 
                if (switchPage === "question_answers") {
                    answers_container.classList.add("hideblock")
                    question_container.classList.remove("hideblock")
                    currentPage = "questions_answers"
                    button1.classList.add("selectedNav")
                    button2.classList.remove("selectedNav")
                } else if (switchPage === "students_answers") {
                    question_container.classList.add("hideblock")
                    answers_container.classList.remove("hideblock")
                    currentPage = "students_answers"
                    button2.classList.add("selectedNav")
                    button1.classList.remove("selectedNav")
                }
                console.log(currentPage)
            }
            function getAnswerText(n) {
                if (n === 0) return `${n} відповідей`;
                const lastDigit = n % 10;
                const lastTwoDigits = n % 100;
                if (lastDigit === 1 && lastTwoDigits !== 11) {
                    return `${n} відповідь`;
                } else if (lastDigit >= 2 && lastDigit <= 4 && (lastTwoDigits < 10 || lastTwoDigits >= 20)) {
                    return `${n} відповіді`;
                } else {
                    return `${n} відповідей`;
                }
            }

            buttonStart.addEventListener("click", () => {
                socket.emit("quiz_start", {code: code})
            })
        
            socket.on("user_list_update", (data) => {
                const usersList = document.getElementById("users");
                const usersText = document.getElementById("usersText");
                usersList.innerHTML = '';
                usersText.textContent = `Участники: (${data.students.length})`;
                
                data.students.forEach((student, index) => {
                    
                    const li = document.createElement("li");
                    const divLi = document.createElement("div")

                    divLi.classList.add("divLi")
                    const p = document.createElement("p")
                    p.classList.add("nickname")
                    p.textContent = student[0];
                    divLi.appendChild(p)
                    li.id = student[1];
                    const deleteBtn = document.createElement("button");
                    const deleteImg = document.createElement("img");
                    deleteImg.src = "{{ url_for('host_app.static', filename='images/cross.svg') }}";
                    deleteBtn.appendChild(deleteImg);
                    deleteBtn.onclick = () => {
                        socket.emit("remove_student", { code: code, student: student });
                    };
                    deleteBtn.classList.add("delete-user-btn");
                    divLi.appendChild(deleteBtn);
                    li.appendChild(divLi)
                    usersList.appendChild(li);
                });
            });

            socket.on("remove_student_client", (data) => {
                const userLi = document.getElementById(data.hash);
                if (userLi) {
                    userLi.remove();
                }
                usersText.textContent = `Участники: (${document.getElementById("users").childElementCount})`;
            });

            socket.on("teacher_results", (data) => {
                if (timerInterval) {
                    clearInterval(timerInterval);
                }
                currentPage = "question_answers"
                document.getElementById('timerText').innerHTML = '0';
                const container = document.getElementById("resultsContainer");
                container.innerHTML = "";
                console.log("Received teacher_results:", data.results);
                div.innerHTML = ""
                const avatarUrl = "{{ url_for('host_app.static', filename='images/avatar.svg') }}";
                const mainContainer = document.createElement("div")
                mainContainer.classList.add("mainContainer")
                const questionAnswersContainer = document.createElement("div")
                questionAnswersContainer.classList.add("question-answers-results") 
                const studentsContainer = document.createElement("div")
                studentsContainer.classList.add("studentsContainer")
                studentsContainer.classList.add("hideblock")

                data.results.forEach(res => {
                    const divA = document.createElement("div");
                    divA.classList.add("student-answer")
                    divA.classList.add(res.is_correct ? "student-right" : "student-wrong")
                    divA.innerHTML = `
                        <div class="student-avatar-nickname">
                            <img src="${avatarUrl}">
                            <h4>${res.nickname}</h4>
                        </div>
                        <h5>Відповідь:</h5>
                        <div class="answers-student">
                            ${
                                Array.isArray(res.answer)
                                ? res.answer.map(ans => `<div><p>${ans}</p></div>`).join("")
                                : `<div><p>${res.answer}</p></div>`
                            }
                        </div>
                    `;
                    studentsContainer.appendChild(divA);
                });
                //
                const nameQuestionContainer = document.createElement("div")
                nameQuestionContainer.classList.add("name-question-container")
                const nameQuestionText = document.createElement("h1")
                nameQuestionText.classList.add("name-question-text")
                nameQuestionText.textContent = data.question_data.name
                const variantsQuestion = document.createElement("div")
                variantsQuestion.classList.add("variants-question")
                if (data.question_data.type !== "enter answer") {
                    data.question_data.variants.forEach(variant => {
                        if (!variant || variant === undefined || variant === null) return;
                        const variantContainer = document.createElement("div")
                        variantContainer.classList.add("variant-container")
                        const variantText = document.createElement("p")
                        variantText.classList.add("variant-text")
                        variantText.textContent = variant.text
                        const variantProgressBar = document.createElement("div")
                        variantProgressBar.classList.add("variant-progress-bar")
                        const variantProgressBarFill = document.createElement("div")
                        variantProgressBarFill.classList.add("variant-progress-bar-fill")
                        variantProgressBarFill.style.width = `${variant.answered / document.getElementById("users").childElementCount * 100}%`
                        const variantProgressBarText = document.createElement("p")
                        variantProgressBarText.classList.add("variant-progress-bar-text")
                        variantProgressBarText.textContent = getAnswerText(variant.answered)
                        variantContainer.appendChild(variantText)
                        variantProgressBar.appendChild(variantProgressBarFill)
                        variantProgressBar.appendChild(variantProgressBarText)
                        variantContainer.appendChild(variantProgressBar)
                        variantsQuestion.appendChild(variantContainer)
                    })
                }
                nameQuestionContainer.appendChild(nameQuestionText)
                questionAnswersContainer.appendChild(nameQuestionContainer)
                questionAnswersContainer.appendChild(variantsQuestion)
                //
                const header = document.createElement("header")
                header.classList.add("header-answers")
                const navButtonQuestionAnswers = document.createElement("button")
                navButtonQuestionAnswers.classList.add("selectedNav")
                navButtonQuestionAnswers.textContent = "Загальний огляд"
                const navButtonAnswers = document.createElement("button")
                navButtonAnswers.textContent = "Відповідді"
                navButtonQuestionAnswers.classList.add("navButton")
                navButtonAnswers.classList.add("navButton")

                navButtonQuestionAnswers.onclick = () => switchPages("question_answers", questionAnswersContainer, studentsContainer, navButtonQuestionAnswers, navButtonAnswers)
                navButtonAnswers.onclick = () => switchPages("students_answers", questionAnswersContainer, studentsContainer, navButtonQuestionAnswers, navButtonAnswers)

                header.appendChild(navButtonQuestionAnswers)
                header.appendChild(navButtonAnswers)
                mainContainer.appendChild(header)
                //
                const diagramContainer = document.createElement("div")
                diagramContainer.classList.add("diagramContainer")
                const chartContainer = document.createElement("div")
                chartContainer.id = "chart"
                const dataAnswersContainer = document.createElement("div")
                dataAnswersContainer.classList.add("dataAnswersContainer")
                //
                const correctContainer = document.createElement("div")
                correctContainer.classList.add("dataTexts")
                const wrongContainer = document.createElement("div")
                wrongContainer.classList.add("dataTexts")
                const skippedContainer = document.createElement("div")
                skippedContainer.classList.add("dataTexts")
                //
                const correctImg = document.createElement("img")
                correctImg.src = "{{ url_for('host_app.static', filename= 'images/correct_answers.svg') }}"
                correctContainer.appendChild(correctImg)
                const wrongImg = document.createElement("img")
                wrongImg.src = "{{ url_for('host_app.static', filename= 'images/wrong_answers.svg') }}"
                wrongContainer.appendChild(wrongImg)
                const skippedImg = document.createElement("img")
                skippedImg.src = "{{ url_for('host_app.static', filename= 'images/skipped_answers.svg') }}"
                skippedContainer.appendChild(skippedImg)
                //
                const correctText = document.createElement("h4")
                correctText.textContent = `Правильно: ${data.donut_data.correct}/${data.donut_data.total_participiants}`
                correctContainer.appendChild(correctText)
                const wrongText = document.createElement("h4")
                wrongText.textContent = `Неправильно: ${data.donut_data.wrong}/${data.donut_data.total_participiants}`
                wrongContainer.appendChild(wrongText)
                const skippedText = document.createElement("h4")
                skippedText.textContent = `Пропущено: ${data.donut_data.skipped}/${data.donut_data.total_participiants}`
                skippedContainer.appendChild(skippedText)
                const summaryPercentage = document.createElement("h4")
                summaryPercentage.classList.add("percentage")
                summaryPercentage.textContent = `${((data.donut_data.correct / data.donut_data.total_participiants) * 100).toFixed(0)}%`
                //
                diagramContainer.appendChild(chartContainer)
                diagramContainer.appendChild(summaryPercentage)
                dataAnswersContainer.appendChild(diagramContainer)
                dataAnswersContainer.appendChild(correctContainer)
                dataAnswersContainer.appendChild(wrongContainer)
                dataAnswersContainer.appendChild(skippedContainer)
                // 
                container.appendChild(dataAnswersContainer)
                mainContainer.appendChild(studentsContainer)
                mainContainer.appendChild(questionAnswersContainer)
                container.appendChild(mainContainer)

                console.log(data)
                renderDonut(data1 = {
                    correct: data.donut_data.correct,
                    wrong: data.donut_data.wrong,
                    skipped: data.donut_data.skipped
                })
                if (data.index_question == data.total_questions-1) {
                    nextBtn.innerText = "Кінець";
                    nextBtn.onclick = () => socket.emit("quiz_end_msg", { code: code });
                } else {
                    nextBtn.onclick = () => socket.emit("next_question", { code: code });
                }
            });

            let endTime = 0;
            socket.on("question_timer", (data) => {
                endTime = data.end_time;
                const duration = data.duration;
                const currentTime = Math.floor(Date.now() / 1000);
                let remainingTime = endTime - currentTime;

                document.getElementById("15sAdd").onclick = () => {
                    endTime += 15;
                    socket.emit("add_15_sec", { code: code }) 
                }

                const timerDiv = document.getElementById('timer');
                timerDiv.innerHTML = '';
                const timerText = document.createElement('h2');
                timerText.id = 'timerText';
                timerText.innerHTML = `${duration}`;
                timerDiv.appendChild(timerText);

                if (timerInterval) {
                    clearInterval(timerInterval);
                }

                if (remainingTime > 0) {
                    timerInterval = setInterval(() => {
                        const currentTime = Math.floor(Date.now() / 1000);
                        const remainingTime = endTime - currentTime;

                        timerText.textContent = remainingTime;

                        if (remainingTime <= 0) {
                            socket.emit("end_question", { code: code });
                            clearInterval(timerInterval);
                        }
                    }, 150);
                }
            });
            
            socket.on("quiz_start_teacher", (data) => {
                const checkMarks = document.getElementsByClassName('check_mark');
                if (checkMarks.length) {
                    const checkMarksArray = Array.from(checkMarks);
                    
                    checkMarksArray.forEach(mark => {
                        mark.remove();
                    });
                }  

                document.querySelector(".bottom-box").style.display = "flex";
                const container = document.getElementById("resultsContainer");
                container.innerHTML = "";
                if (nextBtn) {
                    nextBtn.remove();
                }
                div.innerHTML = '';
                
                try {
                    document.getElementById("room").remove();
                } catch {}

                const questionDiv = document.createElement('div');
                questionDiv.id = 'question';
                const answersDiv = document.createElement("div")
                answersDiv.id = 'answerDiv'
                if (data.image) {
                    questionDiv.innerHTML = `<img id="questionImage" src="/library/images/${data.image}" class="q-image"><h2>${data.name}</h2>`;
                }
                else {
                    questionDiv.innerHTML = `<h2>${data.name}</h2>`;
                }
                if (data.type != "enter answer") {
                    data.variants.forEach(variant => {
                        answersDiv.innerHTML += `<p class="answerv">${variant.text}</p>`;
                    })
                }
                div.appendChild(questionDiv);
                if (data.image) {
                    const qImage = document.getElementById('questionImage');
                    const Wblur = document.getElementById('Wblur');
                    qImage.addEventListener('click', () => {
                        const img = document.getElementById('modalImageContent');
                        img.src = qImage.src;
                        const modal = document.getElementById('modalImage');
                        modal.classList.remove('hidemodal');
                        Wblur.classList.remove('hideblur');
                    });
                    const closeModalBtn = document.getElementById('closeModal');
                    closeModalBtn.addEventListener('click', () => {
                        const modal = document.getElementById('modalImage');
                        modal.classList.add('hidemodal');
                        Wblur.classList.add('hideblur');
                    });
                    Wblur.addEventListener('click', () => {
                        const modal = document.getElementById('modalImage');
                        modal.classList.add('hidemodal');
                        Wblur.classList.add('hideblur');
                    });
                }
                div.appendChild(answersDiv)
                nextBtn.onclick = () => socket.emit("end_question", { code: code });
                document.getElementById("timeControl").appendChild(nextBtn);

            })
            socket.on("student_answer", (data) => {
                console.log("student")
                const user = document.getElementById(data.hash).querySelector("div")
                const checkMark = document.createElement('img') 
                checkMark.src = '{{ url_for("host_app.static", filename = "images/check-mark.svg") }}'
                checkMark.classList.add('check_mark')
                user.appendChild(checkMark)
            })
            socket.on("show_finish_button", data => {
                if (nextBtn) {
                    nextBtn.remove();
                }
                const endBtn = document.createElement('button');
                endBtn.textContent = `Завершити вікторину`;
                endBtn.style.color = 'black';
                endBtn.onclick = () => socket.emit("quiz_end_msg", { code: code });
                document.body.appendChild(endBtn);
            });
            socket.on("end_msg", data => {
                nextBtn.innerHTML = `<img src="{{ url_for('host_app.static', filename= 'gifs/loading.gif') }}" style="height: 20px; width: 20px;">`
                setTimeout(()=> {
                    socket.emit("show_quiz_results", {code: code})
                }, 50)
            }) 
            socket.on("quiz_results", data => {
                if (data.url) {
                    window.location.href = `${data.url}`;
                }
            });
        </script>
        <script src="{{ url_for('host_app.static', filename='js/copy.js') }}"></script>
    </body>
</html>