<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('host_app.static', filename='css/hostingroom.css') }}">
        <title>Document</title>
    </head>
    <body>
        
        <div class="room-info">
            <div class="bottom-box" style="display: none;">
                <div id="timerDiv">
                    <img id="timerIMG" src="{{ url_for('host_app.static', filename='images/timer.svg') }}">
                    <div id="timer"></div>
                </div>
                <div id="timeControl">
                    <button id="15sAdd" class="controlers">+15</button>
                    
                </div>
            </div>
            <div id="resultsContainer"></div>
            <div id="QandR"></div>
            <div id="room">
                <div class="how-to-join">
                    <div>
                        <h3>1</h3>
                    </div>
                    <h4>Приєднайтеся за посиланням</h4>
                    <button id="copy-url"><img class="img-copy" src="{{ url_for('host_app.static', filename='images/copy.svg') }}"></button>
                </div>
                <a href="" onclick="window.open(this.href); return false;" id="linkToJoin">joinqptquiz.com</a>
                <div class="line"></div>
                <div class="how-to-join">
                    <div>
                        <h3>2</h3>
                    </div>
                    <h4>Приєднайтеся за кодом</h4>
                    <button id="copy-code"><img class="img-copy" src="{{ url_for('host_app.static', filename='images/copy.svg') }}"></button>
                </div>
                <h2 id="codeDisplay">{{ code }}</h2>
                <button id="start-quiz">
                    <img src="{{ url_for('host_app.static', filename='images/start.svg') }}">
                    <p>Почати вікторину</p>
                </button>
            </div>
            <div class="participants">
                <h2 id="usersText">Участники:</h2>
                <ul id="users"></ul>
            </div>
        </div>
        <div class="mini-menu">
            
        </div>

        <div id="modalImage" class="modal hidemodal">
            <button id="closeModal"><img src="{{ url_for('library_app.static', filename='images/close.svg') }}"></button>
            <div>
                <img id="modalImageContent" src="" alt="Modal Image">
            </div>
        </div>
        <div id="Wblur" class="hideblur"></div>

        
        <script>
            const socket = io();
            const code = "{{ code }}"; 
            const div = document.getElementById('QandR');
            let nextBtn;
            nextBtn = document.createElement('button');
            nextBtn.id = 'nextBtn';
            nextBtn.classList.add("controlers")
            const imgBtn = document.createElement("img")
            imgBtn.src = "{{ url_for('host_app.static', filename= 'images/next.svg') }}"
            nextBtn.appendChild(imgBtn)

            let timerInterval = null;
            socket.emit("host_join", { room: code });
        
            const buttonStart = document.getElementById("start-quiz");
            
            

            buttonStart.addEventListener("click", () => {
                socket.emit("quiz_start", {code: code})
            })
        
            socket.on("user_list_update", (data) => {
                const usersList = document.getElementById("users");
                const usersText = document.getElementById("usersText");
                console.log(data.students);
                usersList.innerHTML = '';
                usersText.textContent = `Участники: (${data.students.length})`;
                data.students.forEach(student => {
                    const li = document.createElement("li");
                    const p = document.createElement("p")
                    p.textContent = student;
                    li.appendChild(p)
                    li.id = student;
                    usersList.appendChild(li);
                });
            });

            socket.on("teacher_results", (data) => {
                if (timerInterval) {
                    clearInterval(timerInterval);
                }
                document.getElementById('timerText').innerHTML = '0';
                const container = document.getElementById("resultsContainer");
                container.innerHTML = "";
                console.log("Received teacher_results:", data.results);
                div.innerHTML = ""
                const avatarUrl = "{{ url_for('host_app.static', filename='images/avatar.svg') }}";
                data.results.forEach(res => {
                    const div = document.createElement("div");
                    div.innerHTML = `
                        <div class="student-answer">
                            <div class="student-avatar-nickname">
                                <img src="${avatarUrl}">
                                <h4>${res.nickname}</h4>
                            </div>
                            <h5>Відповідь:</h5>
                            <div class="answers-student">
                                ${
                                    Array.isArray(res.answer)
                                        ? res.answer
                                            .map(ans => `<div><p>${ans}</p></div>`)
                                            .join("")
                                        : `<div><p>${res.answer}</p></div>`
                                }
                            </div>
                        </div>
                    `;
                    container.appendChild(div);
                });

                
                console.log(data)
                if (data.index_question == data.total_questions-1) {
                    nextBtn.innerText = "Кінець";
                    nextBtn.onclick = () => socket.emit("quiz_end_msg", { code: code });
                } else {
                    nextBtn.onclick = () => socket.emit("next_question", { code: code });
                }
            });

            

            let endTime = 0;
            socket.on("question_timer", (data) => {
                endTime = data.end_time;
                const duration = data.duration;
                const currentTime = Math.floor(Date.now() / 1000);
                let remainingTime = endTime - currentTime;

                document.getElementById("15sAdd").onclick = () => {
                    endTime += 15; 
                }

                const timerDiv = document.getElementById('timer');
                timerDiv.innerHTML = '';
                const timerText = document.createElement('h2');
                timerText.id = 'timerText';
                timerText.innerHTML = `${duration}`;
                timerDiv.appendChild(timerText);

                if (timerInterval) {
                    clearInterval(timerInterval);
                }

                if (remainingTime > 0) {
                    timerInterval = setInterval(() => {
                        const currentTime = Math.floor(Date.now() / 1000);
                        const remainingTime = endTime - currentTime;

                        timerText.textContent = remainingTime;

                        if (remainingTime <= 0) {
                            console.log("Время вышло!");
                            socket.emit("end_question", { code: code });
                            clearInterval(timerInterval);
                        }
                    }, 250);
                }
            });
            socket.on("quiz_start_teacher", (data) => {
                const checkMarks = document.getElementsByClassName('check_mark');
                console.log(checkMarks);

                if (checkMarks.length) {
                    const checkMarksArray = Array.from(checkMarks);
                    
                    checkMarksArray.forEach(mark => {
                        mark.remove();
                    });
                }  

                document.querySelector(".bottom-box").style.display = "flex";
                const container = document.getElementById("resultsContainer");
                container.innerHTML = "";
                if (nextBtn) {
                    nextBtn.remove();
                }
                div.innerHTML = '';
                
                try {
                    document.getElementById("room").remove();
                } catch {
                }
                questionDiv = document.createElement('div');
                questionDiv.id = 'question';
                if (data.image) {
                    questionDiv.innerHTML = `<img id="questionImage" src="/library/images/${data.image}" class="q-image"><h2>${data.name}</h2>`;
                }
                else {
                    questionDiv.innerHTML = `<h2>${data.name}</h2>`;
                }
                const answersDiv = document.createElement("div")
                answersDiv.id = 'answerDiv'
                if (data.type != "enter answer") {
                    answersDiv.innerHTML += `<p class="answerv">${data.variant_1}</p>`;
                    answersDiv.innerHTML += `<p class="answerv">${data.variant_2}</p>`;
                    answersDiv.innerHTML += `<p class="answerv">${data.variant_3}</p>`;
                    answersDiv.innerHTML += `<p class="answerv">${data.variant_4}</p>`;
                }
                div.appendChild(questionDiv);
                if (data.image) {
                    const qImage = document.getElementById('questionImage');
                    const Wblur = document.getElementById('Wblur');
                    qImage.addEventListener('click', () => {
                        const img = document.getElementById('modalImageContent');
                        img.src = qImage.src;
                        const modal = document.getElementById('modalImage');
                        modal.classList.remove('hidemodal');
                        Wblur.classList.remove('hideblur');
                    });
                    const closeModalBtn = document.getElementById('closeModal');
                    closeModalBtn.addEventListener('click', () => {
                        const modal = document.getElementById('modalImage');
                        modal.classList.add('hidemodal');
                        Wblur.classList.add('hideblur');
                    });
                    Wblur.addEventListener('click', () => {
                        const modal = document.getElementById('modalImage');
                        modal.classList.add('hidemodal');
                        Wblur.classList.add('hideblur');
                    });
                }
                div.appendChild(answersDiv)
                nextBtn.onclick = () => socket.emit("end_question", { code: code });
                document.getElementById("timeControl").appendChild(nextBtn);

            })

            socket.on("student_answer", (data) => {
                const user = document.getElementById(data.username)
                const checkMark = document.createElement('img') 
                checkMark.src = '{{ url_for("host_app.static", filename = "images/check-mark.svg") }}'
                checkMark.classList.add('check_mark')
                user.appendChild(checkMark)
            })

            
            socket.on("show_finish_button", data => {
                if (nextBtn) {
                    nextBtn.remove();
                }
                const endBtn = document.createElement('button');
                endBtn.textContent = `Завершити вікторину`;
                endBtn.style.color = 'black';
                endBtn.onclick = () => socket.emit("quiz_end_msg", { code: code });
                document.body.appendChild(endBtn);
            });
            socket.on("end_msg", data => {
                socket.emit("show_quiz_results", {code: code})
            }) 


            socket.on("quiz_results", data => {
                if (data.url) {
                    window.location.href = `${data.url}`;
                }
            });
            
        </script>
        <script src="{{ url_for('host_app.static', filename='js/copy.js') }}"></script>
    </body>
</html>