{% extends "base_admin.html" %}

{% block title %}
host
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('host_app.static', filename='css/static.css') }}">
{% endblock %}

{% block content %}
    <div class="main-info">
        <img src="{{ url_for('library_app.static', filename=quiz.image) }}" class="ImgQuiz" alt="">
        <h1>Назва: {{ quiz.name }}</h1>
        <p>Опис: {{ quiz.description }}</p>
        <h2>Кількість запитань: {{ quiz.count_questions }}</h2>
        <h2>Автор: {{ quiz.user.surname }} {{ quiz.user.name }}</h2>
        <form method="post">
            <button id="submit-btn" type="submit" name="btn" value="host">Задати на виконання</button>
            {% if code != 000000 %}
                <h2 id="generated-code">Сгенерований код: {{ code }}</h2>
            {% endif %}
        </form>
        {% if user.id == quiz.author_id %}
            <form method="post">
                <button type="submit" name="btn" value="delete" style="background-color: red;">Видалити вікторину</button>
            </form>
        {% endif %}
        
        <div class="questions">
            {% for question in quiz.questions %}
                <hr>
                <div class="question">
                    {% if question.image %}
                        <img src="{{ url_for('library_app.static', filename= 'images/' + question.image) }}">
                        
                    {% endif %}
                    <h2>Запитання {{ loop.index }}: {{ question.name }}</h2>
                    <h2>Варіанти відповіді:</h2>
                    <div class="answers">
                        {% if question.type != 'enter answer' %}
                            {% if "1" in question.correct_answer %}
                                <div class="answer correct">
                                    <p>{{ question.variant_1 }}</p>
                                </div>
                            {% else %}
                                <div class="answer">
                                    <p>{{ question.variant_1 }}</p>
                                </div>
                            {% endif %}

                            {% if "2" in question.correct_answer %}
                                <div class="answer correct">
                                    <p>{{ question.variant_2 }}</p>
                                </div>
                            {% else %}
                                <div class="answer">
                                    <p>{{ question.variant_2 }}</p>
                                </div>
                            {% endif %}

                            {% if "3" in question.correct_answer %}
                                <div class="answer correct">
                                    <p>{{ question.variant_3 }}</p>
                                </div>
                            {% else %}
                                <div class="answer">
                                    <p>{{ question.variant_3 }}</p>
                                </div>
                            {% endif %}

                            {% if "4" in question.correct_answer %}
                                <div class="answer correct">
                                    <p>{{ question.variant_4 }}</p>
                                </div>
                            {% else %}
                                <div class="answer">
                                    <p>{{ question.variant_4 }}</p>
                                </div>  
                            {% endif %}
                        {% else %}
                            <div class="answer correct">
                                <p>{{ question.variant_1 }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}