@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Bold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Regular.ttf) format('truetype');
    font-weight: 300;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    
    background-image: url("../images/code_background2.jpg");
    background-color: #1A1A1A;
    background-size: cover;
    background-position: center;

}

header{
    position: absolute;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #333333;
    padding-left: 10px;
    
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    
}

.form_enter{
    width: 384px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 16px 5px 16px;
    background-color: #2B2B2B;
    border-radius: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


}

.form_enter p{
    font-family: "Inter";
    font-weight: bold;     
    font-size: 40px;
    color: white;

}

.input_code{
   width: 100%;
   height: 143px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 13px 0 13px;
   gap: 25px;
   margin-top: 25px;
   
}

.input_code input{
    width: 100%;
    height: 68px;
    text-align: center;
    border: #8B8B8B solid 9px;
    border-radius: 9px;
    font-family: "Inter";
    font-size: 24px;
}

.button_code{
    width: 352px;
    height: 46px;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    background-color: #22CE00;
    color: #262626;
    border: none;
    border-radius: 32px;

}

.button_span{
    display: inline-block;
    width: 294px;
}

#lobby {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s   ease;
    color: white;
    font-size: 24px;
    text-align: center;
}


#waitingDiv {
    display: flex;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 50%;    
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    background-color: #171717;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease; 
    z-index: 10;
}

#waitingDiv.waiting-div {
    opacity: 0.8;
    visibility: visible;
}
#waitingDiv h2 {
    font-family: "Inter";
    font-weight: bold;     
    font-size: 40px;
    color: white;
}

