@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Bold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Regular.ttf) format('truetype');
    font-weight: 300;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
body{
    background-image: url("../images/code_background2.jpg");
    background-color: #1A1A1A;
    background-size: cover;
    background-position: center;
}
.form_enter{
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #2B2B2B;
    border-radius: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.form_enter h1{
    font-family: "Inter";
    font-weight: bold;     
    font-size: 40px;
    color: white;
}

.form_enter p {
    color: white;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 13px 0 13px;
    gap: 25px;
    margin-top: 25px;
}

.inputs input{
    width: 100%;
    height: 68px;
    text-align: center;
    border: #8B8B8B solid 9px;
    border-radius: 9px;
    font-family: "Inter";
    font-size: 24px;
}

.button_code{
    width: 352px;
    height: 46px;
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-weight: bold;
    background-color: #22CE00;
    color: #262626;
    border: none;
    border-radius: 32px;

}

.button_span{
    display: inline-block;
    width: 294px;
}