{% extends 'base_admin.html' %}

{% block title %}
    Classrooms
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('classroom_app.static', filename='css/classrooms.css') }}">
{% endblock %}

{% block name_page %}
    Мої класи
{% endblock %}

{% block content %}
    <main>
        <div class="table">
            <div class="header-table">
                <div><p>Клас</p></div>
                <div></div>
                <div><p>К-сть учнів</p></div>
            </div>
            <div class="content">
                <form method="post">
                    <p>Додайте ще один клас!</p>
                    <input type="number" name="number" maxlength="2">
                    <input type="text" name="char" maxlength="1">
                    <button>Додати</button>
                </form>
                {% for classroom in class_groups %}
                    <a href="/classrooms/{{ classroom.id }}">{{ classroom.number }}-{{classroom.char}}</a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}