{% extends 'base_admin.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('reports_app.static', filename='css/detail_report.css') }}">
{% endblock %}

{% block content %}
    <div class = 'wrapper'>
        <h2>Результати вікторини</h2>
        <h1>{{room.roomsQuiz.name}}</h1>
        <div class="report">
            <div class="header-report">
                <div class="tabs">
                    <button class="tab selected">Студенти</button>
                    <button class="tab not">Питання</button>
                    <button class="tab not">Заг. огляд</button>
                </div>
                <div class="sorting">
                    <p>Сортирувати за: <button id="sortBtn"><</button></p>
                </div>
            </div>
            <div class="judah">
                <div class="participants-info">
                    <div class="colors-of-correctness">
                        <div>
                            <span id="correct"></span>
                            <p>Правильні</p>
                        </div>
                        <div>
                            <span id="wrong"></span>
                            <p>Помилка</p>
                        </div>
                        <div>
                            <span id="passed"></span>
                            <p>Пропущені</p>
                        </div>
                    </div>
                </div>
                <div id="studentsContainer">
                    {% for student in report %}
                        <div class="student-card" data-student-id="{{ student.participant_id }}">
                            <h5 class="nickname">{{ student.nickname }}</h5>
                            <div class="successful-a">
                                {% for ans in student.answers %}
                                    <span class="answer {% if ans.is_correct %}correct{% else %}wrong{% endif %}"></span>
                                {% endfor %}
                            </div>
                            <h5 class="percent">{{ student.percent }}%</h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="studentModal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <h3 id="modalTitle"></h3>
            <div id="modalAnswers"></div>
        </div>
    </div>
    <script src="{{ url_for('reports_app.static', filename='js/sort.js') }}"></script>
    <script src="{{ url_for('reports_app.static', filename='js/loadInfoStudent.js') }}"></script>
{% endblock %}