{% extends 'base_admin.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('reports_app.static', filename='css/detail_report.css') }}">
{% endblock %}

{% block content %}
    <div class="report">
        <h2 class="mb-4">Звіт: кімната {{ room.id }}</h2>
    
        <p>Сортирувати за: <button id="sortBtn"><</button></p>

        <div id="studentsContainer">
        {% for student in report %}
            <div class="student-card">
            <h5 class="nickname">{{ student.nickname }}</h5>
            <div class="successful-a">
                {% for ans in student.answers %}
                <span class="answer {% if ans.is_correct %}correct{% else %}wrong{% endif %}"></span>
                {% endfor %}
            </div>
            <h5 class="percent">{{ student.percent }}%</h5>
            </div>
        {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('reports_app.static', filename='js/sort.js') }}"></script>
{% endblock %}