{% extends 'base_admin.html' %}

{% block title %}
    Reports page
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('reports_app.static', filename= 'css/reports.css') }}">
{% endblock %}

{% block content %}

    <div class="summary-conteiner">
        <h2>Звіти</h2>
        <div class="reports">
            {% for quiz in quizzes %}
            
                <div class="report">
                    <p class="report-title">Ім'я вікторини: {{ quiz.name }} </p>
                    <span class="passed-people">пройшло: {{ quiz.results|length }} людей</span>
                    <span class="author">Автор ID: {{ quiz.author_id }}</span>
                    <div class="center">
                        Результати:
                    
                    {% for result in quiz.results %}
                        <div class="line"></div>
                        <div>
                            <h4>Пройшов: {{ result.who_passed }}</h4>
                            <p>Результат: {{ result.right_answers }}/{{ quiz.count_questions}}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}