{% extends 'base_admin.html' %}

{% block title %}
    Reports page
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('reports_app.static', filename= 'css/reports.css') }}">
{% endblock %}

{% block content %}

    <div class="summary-conteiner">
        <h2>Звіти</h2>
        <div class="reports">
            {% for code in redeem_codes %}

                <div class="report">    
                    <h3>Звіт по коду: {{ code.name }} ({{ code.code_enter }})</h3>
                    <div class="center">
                        Результати:
                        {% for result in code.results %}
                            <div class="line"></div>
                            <div class="information">
                                <h4>Пройшов: {{ result.who_passed }}</h4>
                                <div class="info">
                                    <div>
                                        <img src="{{ url_for('reports_app.static', filename= 'images/correct.svg') }}">
                                    </div>
                                    <p>Правильних відповідей: {{ result.right_answers }} </p>
                                </div>
                                <div class="info" >
                                    <div id="fail">
                                        <img src="{{ url_for('reports_app.static', filename= 'images/cross.svg') }}">
                                    </div>
                                    <p>Неправильних відповідей: {{ result.all_answers - result.right_answers }}</p>
                                </div>
                                <h4>Оцінка: {{ 12 // result.all_answers * result.right_answers }}/12</h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}