.quiz {
    width: calc(100% - 220px);
    position: relative;
    top: 80px;
    left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
}
.info-quiz {
    position: relative;
    width: 845px;
    display: flex;
    gap: 10px;
    align-items: start;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 187.5px;
}
.buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}
.buttons label {
    color: white;
}
form {
    display: flex;
    align-items: center;
    gap: 10px;
}
.quiz p {
    color: white;
    font-size: 16px;
    font-weight: 300;
}
.quiz h2 {
    color: white;
    font-size: 16px;
    font-weight: 300;
}
#generated-code {
    color: white;
    font-size: 20px;
    font-weight: 300;
}
button {
    width: 200px;
    height: 50px;
    background-color: #B26FFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
.ImgQuiz {
    width: 450px;
    aspect-ratio: 600 / 250;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
.questions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    width: 845px;
}
.question {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: #3d3d3d;
    border-radius: 10px;
}
.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.answer {
    padding: 5px 10px;
    background-color: #616161;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: fit-content;
}
.correct {
    background-color: #4CAF50;
}