<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enter Code</title>
        <link rel="stylesheet" href="{{ url_for('execution_app.static', filename='css/execution.css') }}">
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    </head>
    <body>
         <div id="join-form" method="post" class = 'form_enter'>
            <p>GPTQuiz</p>
            <div class = 'input_code'>
                <input type="text" id="username" name="input-nickname" placeholder="Введіть нікнейм">
                <button class="button_code" type="button" onclick="join()"><span class = 'button_span'>ДАЛІ</span>→</button>

            </div> 
        </div>
        <div class="waiting-divdiv">

        </div>
        <div id="lobby" style="display:none;">
            <h1 id="quiz-title">{{ quiz_name }}</h1>
            <h2>Під'єднані користувачі:</h2>
            <ul id="users"></ul>
        </div>
        <script>
            const socket = io();
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get("code");
            const div = document.getElementById('lobby');
            let username;
            const quizId = '{{ quiz.id }}'

            function join() {
                username = document.getElementById("username").value;
                if (!username) return alert("Введіть нікнейм!");
                if (!code) return alert("Код кімнати не знайдено!");

                socket.emit("join_room", { username, code, quizId });
            }

            socket.on("joined_success", data => {
                document.getElementById("join-form").style.display = "none";
                document.getElementById("lobby").style.display = "flex";
                document.getElementById("quiz-title").textContent = data.quiz_name;
            });

            function blockPanel(msg = "Зачекайте...") {
                if (document.getElementById('waitingDiv')) {
                    document.getElementById('waitingDiv').remove();
                }
                const waitingDiv = document.createElement('div');
                waitingDiv.id = 'waitingDiv';
                waitingDiv.innerHTML = `
                    <img src="{{ url_for('execution_app.static', filename="images/wait.png") }}">
                    <h2 id="waitingText">${msg}</h2> 
                `;
                document.body.appendChild(waitingDiv);
                waitingDiv.classList.add('waiting-div');

            }
            
            function uploadAnswer(answer, questionID) {
                socket.emit("answer", {answer: answer, question_id: questionID, username, code});
                blockPanel();
            }

            socket.on("quiz_start_student", data => {
                div.style.display = 'none';
                document.getElementById("general")?.remove();

                const generalDiv = document.createElement('div');
                generalDiv.id = 'general';
                const questionDiv = document.createElement('div');
                questionDiv.id = 'question';
                const title = document.createElement('h2');
                title.textContent = data.name;
                console.log(questionDiv, title, generalDiv);
                questionDiv.appendChild(title);
                const answersDiv = document.createElement('div');
                answersDiv.id = 'answers';

                if (data.type === "multiple answers") {
                    const variants = [data.variant_1, data.variant_2, data.variant_3, data.variant_4];
                    variants.forEach((variant, index) => {
                        const label = document.createElement('label');
                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.value = `${index + 1}`;
                        label.id = `answerBtn${index + 1}`;
                        label.appendChild(checkbox);
                        label.append(`${variant}`);
                        answersDiv.appendChild(label);
                    });

                    const sendBtn = document.createElement('button');
                    sendBtn.id = 'sendBtn';
                    sendBtn.textContent = "Відправити -->";
                    sendBtn.onclick = () => {
                        const checked = Array.from(answersDiv.querySelectorAll('input[type="checkbox"]:checked')).map(cb => parseInt(cb.value));
                        if (checked.length === 0) {
                            alert("Выбери хотя бы один вариант!");
                            return;
                        }
                        uploadAnswer(checked, data.id);
                    };
                    generalDiv.appendChild(sendBtn);

                } else if (data.type === "enter answer") {
                    generalDiv.classList.add('fill');
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.id = 'textAnswer';
                    input.placeholder = 'Введіть вашу відповідь тут...';
                    answersDiv.appendChild(input);
                    const sendBtn = document.createElement('button');
                    sendBtn.id = 'sendBtn';
                    sendBtn.textContent = "Відправити -->";
                    sendBtn.onclick = () => {
                        const answer = input.value.trim();
                        if (!answer) {
                            alert("Будь ласка, введіть вашу відповідь.");
                            return;
                        }
                        uploadAnswer(answer, data.id);
                    };
                    answersDiv.appendChild(sendBtn);
                } else {
                    const btn1 = document.createElement('button');
                    const btn2 = document.createElement('button');
                    const btn3 = document.createElement('button');
                    const btn4 = document.createElement('button');

                    btn1.textContent = `${data.variant_1}`;
                    btn2.textContent = `${data.variant_2}`;
                    btn3.textContent = `${data.variant_3}`;
                    btn4.textContent = `${data.variant_4}`;

                    btn1.id = 'answerBtn1';
                    btn2.id = 'answerBtn2';
                    btn3.id = 'answerBtn3';
                    btn4.id = 'answerBtn4';

                    btn1.onclick = () => uploadAnswer(1, data.id);
                    btn2.onclick = () => uploadAnswer(2, data.id);
                    btn3.onclick = () => uploadAnswer(3, data.id);
                    btn4.onclick = () => uploadAnswer(4, data.id);

                    answersDiv.appendChild(btn1);
                    answersDiv.appendChild(btn2);
                    answersDiv.appendChild(btn3);
                    answersDiv.appendChild(btn4);
                }
                generalDiv.appendChild(questionDiv);
                generalDiv.appendChild(answersDiv);
                document.body.appendChild(generalDiv);
                document.getElementById('waitingDiv').remove();
            });
            
            socket.on("join_error", data => {
                alert(data.message);
            });

            socket.on("user_list_update", data => {
                const userList = document.getElementById("users");
                userList.innerHTML = ""; 
                console.log(data.students);
                data.students.forEach(student => {
                    const li = document.createElement("li");
                    li.textContent = student;
                    userList.appendChild(li);
                });
            });

            socket.on("end_msg", data => {
                socket.emit("end_quiz", { code: code });
            });


            socket.on("end_quiz", data => {
                document.body.innerHTML = '';
            
                const resultDiv = document.createElement('div');
                resultDiv.id = 'resultDiv';
                resultDiv.innerHTML = `<h2>Вікторину завершено!</h2>`;
                resultDiv.innerHTML += `<p>Правильних відповідей: ${data.correct_answers}</p>`;
                resultDiv.innerHTML += `<p>Неправильних відповідей: ${data.notcorrect_answers}</p>`;
                resultDiv.innerHTML += `<p>Відсоток успішності: ${data.percent}%</p>`;
            
                const participantAnswers = data.participant_answers; 
                participantAnswers.forEach(answer => {
                    const questionDiv = document.createElement('div');
                    questionDiv.innerHTML = `<strong>Питання:</strong> ${answer.question_text}<br>`;
                    questionDiv.innerHTML += `<strong>Варіанти:</strong> ${answer.variants.join(' | ')}<br>`;
                    questionDiv.innerHTML += `<strong>Ваша відповідь:</strong> ${answer.answer} ${answer.is_correct ? "✅" : "❌"}`;
                    resultDiv.appendChild(questionDiv);
                });
                
            
                document.body.appendChild(resultDiv);
            
                const waitingDiv = document.getElementById('waitingDiv');
                if (waitingDiv) waitingDiv.remove();
            });
            
        </script>
    </body>
</html>
