<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enter Code</title>
        <link rel="stylesheet" href="{{ url_for('execution_app.static', filename='css/execution.css') }}">
    </head>

    <body>
        <form method="get" action="/execution" class = 'form_enter'>
            <p>GPTQuiz</p>
            <div class = 'input_code'>
                <input type="text" name="code" placeholder="Введіть код">
                <button class="button_code" type="submit">ПРИЄДНАТИСЬ</button> 
            </div> 
        </form>
    </body>
</html>
