<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Final Result</title>
        <link rel="stylesheet" href="{{url_for('execution_app.static', filename = 'css/summary.css')}}">
    </head>
    <body>
        <header>
            <img src="{{ url_for('execution_app.static', filename='images/atom.svg') }}" alt="">
            <h1>GPTQuiz</h1>
        </header>
        <h2>Тест завершено!</h2>
        <div class="result">
            <div class="header-result">
                <div class="info-quiz">
                    <h3>Назва вiкторини</h3>
                    <h4>Автор: {{ name_author }}</h4>
                    <h4>Вчитель: {{ name_author }}</h4>
                </div>
                <div class="questions-amount">
                    <span>{{ all_count }}</span>
                    <p>запитань</p>
                </div>
            </div>
            <div class="rect1"></div>
            <div class="result-info">
                <div class="info-amount-result">
                    <div class="grade"></div>
                    <div class="grade">
                        <span>Оцiнка</span>
                        <div>
                            <p>{{ rating }}</p>
                            <p>/</p>
                            <p>12</p>
                        </div>
                    </div>
                    <div class="grade" id="grade2">
                        <span>Сума балiв</span>
                        <div>
                            <p>{{ right }}</p>
                            <p>/</p>
                            <p>{{ all_count }}</p>
                        </div>
                    </div>
                    <div class="grade">
                        <span>Результат</span>
                        <div>
                            <p>{{ percent }}</p>%
                        </div>
                    </div>
                </div>
            </div>
            <div class="correct-and-not">
                <div class="result-num">
                    <span>{{ right }}</span>
                    <p>правильних</p>
                </div>
                <div class="result-num">
                    <span>{{ incorrect }}</span>
                    <p>неправильних</p>
                </div>
            </div>
        </div>
    </body>
</html>