main {
    position: relative;
    left: 220px;
    top: 60px;
    display: flex;
    width: calc(100% - 220px);
    flex-direction: column;
    padding: 30px;
}
.modalinfo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #2b2b2b;
    border-radius: 15px;
    padding: 25px;
    gap: 15px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    z-index: 7;
}
.info-in-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.modalinfo h4 {
    font-size: 20px;
}
.modalinfo * {
    color: white;
}
.modalinfo button {
    cursor: pointer;
    font-weight: 500;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #9C47FF;
    border: none;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    background: none;
    border: none;
}
.close img {
    width: 25px;
}
.modalinfo h3 {
    font-size: 20px;
}
.modalinfo p {
    font-size: 16px;
}
.blur {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2.5px);
    z-index: 6;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.hideform {
    opacity: 0;
    visibility: hidden;
}