main {
    position: relative;
    left: 220px;
    top: 60px;
    display: flex;
    width: calc(100% - 220px);
    flex-direction: column;
    padding: 30px;
}
.modalinfo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #2b2b2b;
    border-radius: 15px;
    padding: 25px;
    gap: 15px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    z-index: 7;
}
.info-in-modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.modalinfo h4 {
    font-size: 20px;
}
.modalinfo * {
    color: white;
}
.modalinfo button {
    cursor: pointer;
    font-weight: 500;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #9C47FF;
    border: none;
    color: white;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    background: none;
    border: none;
}
.close img {
    width: 25px;
}
.modalinfo h3 {
    font-size: 20px;
}
.modalinfo p {
    font-size: 16px;
}
.blur {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2.5px);
    z-index: 6;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.hideform {
    opacity: 0;
    visibility: hidden;
}
.btnnav {
    font-size: 16px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.apexcharts-toolbar {
    z-index: 3 !important;
}

.stats {
    display: flex;
    flex-direction: column;
}
.stats h1 {
    text-align: center;
    color: white;
}
.controls-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.controls-container p {
    color: white;
}

.date-input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: border 0.3s;
}

.date-input:focus {
    border-color: #008FFB;
}

.update-btn {
    padding: 10px 25px;
    cursor: pointer;
    background: #008FFB;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: opacity 0.2s;
}

.update-btn:hover {
    opacity: 0.8;
}

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 25px;
    padding: 20px;
}

.chart-card {
    background: #212121;
    padding: 20px;
    border-radius: 15px;
}

.chart-card h3 {
    text-align: center;
    color: #ecdcdc;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.history h2 {
    color: white;
}
.history a{
    display: flex;
    flex-direction: column;
    color: white;
}