form {
    width: calc(23vw + 10vh);
    height: 45vh;
    background-color: #262626;
    border-radius: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw;
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: calc(1vw + 1vh);
    font-weight: 500;
    color: white;
    text-align: center;
}

.login-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 1vw 0 0 0;
    gap: 2vh;
}

input {
    width: 100%;
    height: calc(3.5vh + 1vw);
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    padding-left: 5%;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #393939;
    box-sizing: border-box;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cener;
    margin-top: 5vh;
    gap: 1vh;
}

button {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: calc(1vw + 0.5vh);
    font-weight: 300;
    padding: 1vh 5vw;
    background-color: #3860FD;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b4edc;
}

.submit p {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    font-weight: 300;
}

.submit p a {
    color: #3860FD;
    text-decoration: none;
}

.submit p a:hover {
    text-decoration: underline;
}
