form {
    position: relative;
    left: 50%;
    top: 25%;
    width: 525px;
    background-color: #262626;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
}

h2 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 500;
}

.login-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 1vw 0 0 0;
    gap: 2vh;
}

input {
    width: 100%;
    height: 55px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 300;
    padding-left: 30px;
    border-radius: 100px;
    border: none;
    outline: none;
    
    background-color: #393939;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 1vh;
}

.submit button {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 300;
    padding: 10px 40px;
    background-color: #3860FD;
    width: 100%;
    border: none;
    border-radius: 75px;
    outline: none;
    cursor: pointer;
}

.submit button:hover {
    background-color: #2b4edc;
}
.submit p {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 1vw;
    font-weight: 300;
}

.submit p {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.submit p a{
    color: #3860FD;
}

.choose-login {
    display: flex;
    gap: 15px;
}
.button-auth {
    width: 150px;
    height: 40px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}
.button-auth.selected {
    border-bottom: 2px #9747FF solid;
    cursor: auto;
}
.error-msg {
    color: red;
    font-size: 16px;
}
@media screen and (max-width: 600px) {
    form {
        width: 95%;
    }
    h2 {
        font-size: 24px;
    }
    .button-auth {
        font-size: 16px;
    }
    input {
        height: 45px;
        font-size: 18px;
    }
    .submit button {
        font-size: 18px;
        width: fit-content;
    }
}