.profile {
    width: calc(100% - 220px);
    position: relative;
    top: 80px;
    left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
}

h2 {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 845px;
    background-color: #262626;
    border-radius: 25px;
    padding: 38px 40px;
    gap: 55px;
}
.avatar-username{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 13px;
}
.line {
    height: 140px;
    width: 10px;
    background-color: #3F434C;
    border-radius: 15px;
}
.avatar-username img{
    width: 140px;
    height: 140px;
}
.username{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.username h3{
    font-family: 'Inter';
    font-size:  32px;
    font-weight: 500;
    color: white;
}
.username h4{
    font-family: 'Inter';
    font-size:  20px;
    font-weight: 300;
    color: #D9D9D9;
}
.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}
.main-info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3E3E3E;
    border-radius: 30px;
    width: 550px;
}
.info {
    font-family: 'Inter';
    font-size:  13px;
    font-weight: 300;
    color: #D9D9D9;
}
.information {
    font-family: 'Inter';
    font-size:  24px;
    font-weight: 300;
    color: #ffffff;
}