form {
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
    width: 525px;
    height: 620px;
    border-radius: 40px;
    background-color: #262626;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
    padding: 20px 30px;
    transition: all ease 0.5s;
}

.inputDiv {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.inputs > div > ul {
    position: relative;
    width: 100%;
    padding-left: 20px;
}
.inputs > div > ul > li {
    color: #FF6B6B;
    font-size: 18px;
    font-weight: 400;
}

#waitImg {
    width: 150px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.subtitle {
    font-size: 28px;
    color: white;
    text-align: center;
}
.desc {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color: white;
}
.code-div {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
    height: 100px;
}
.input-code-number {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #212121;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: #9C47FF;
    font-size: 40px;
    font-weight: 400;
    color: white;
    border: none;
}
.help-text {
    
    color: white;
}
h2 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 500;
}
.inputs {
    width: 100%;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    /*  */
} 
.inputs input {
    width: 100%;
    height: 55px;
    /*  */
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 300;
    /*  */
    padding-left: 30px;
    /*  */
    border-radius: 100px;
    border: none;
    outline: none;
    
    background-color: #393939;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
}
.submit button {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 300;
    padding: 10px 40px;
    background-color: #3860FD;
    border: none;
    border-radius: 75px;
    outline: none;
    cursor: pointer;
}
.submit p {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 300;
}
.submit p a{
    color: #3860FD;
}
