@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Bold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Regular.ttf) format('truetype');
    font-weight: 300;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body{
    background-color: #303030;
    padding-left: 220px;
}
aside{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px 20px;
    width: 220px;
    height: 100%;
    background-color: #383838;
    gap: 15px;
    z-index: 5;
}
aside img{
    width: 40px;
    height: 40px;
    
}
.title-logo{
    color: white;
    font-family: "inter";
    font-weight: 600;
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 5px;
}

h1{
    color: white;
    font-family: "inter";
    font-size: 26px;
}
aside button{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: #28f200;
    border: none;
    border-radius: 10px;
    color: white;  
    font-family: "inter";
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
aside button:hover {
    background-color: #27ea00;
}
.links{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.tab-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Inter";
    font-size: 20px;
    width: 100%;
    gap: 10px;
    text-decoration: none;
    -webkit-user-drag: none;
    position: relative;
}
.tab-link div{
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    gap: 5px;
}
.divider{
    width: 70%;
    height: 3px;
    padding: 0 !important;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.tab-link:hover .divider{
    opacity: 1;
    width: 100%;
}

.nav{
    width: 100%;
    height: 45px;
    position: absolute;
    right: 0;
    background-color: #333333;
    /* z-index: 3; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    gap: 20px;
}
.nav a img{
    width: 90%;
    height: 100%;
}
.logout{
    height: 40px;
    width: 40px;
}
.nav a{
    font-family: "Inter";
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.enter-code{
    font-family: 'Inter';
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #454545;
}
.ai-text {
    color: #B26FFF;
}

textarea:focus, input:focus{
  transition: all 0.2s ease-in-out;
  outline:solid #B26FFF 1px ;
}
@keyframes ripple-animation {
    to {
      transform: scale(5);
      opacity: 0;
    }
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 1s linear;
    background-color: rgba(0, 0, 0, 0.119);
    pointer-events: none;
}