@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Bold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Regular.ttf) format('truetype');
    font-weight: 300;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    text-decoration: none;
}

::-webkit-scrollbar {
    background-color: #2b2b2b;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #121212;
    border-width: 1px;
    border: solid #121212;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    border-width: 2px;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #303030;
}
aside{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px 20px;
    width: 220px;
    height: 100%;
    background-color: #383838;
    gap: 15px;
    z-index: 5;
}
aside img{
    width: 40px;
    height: 40px;
    
}
.title-logo{
    color: white;
    font-family: "inter";
    font-weight: 600;
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

h1{
    color: white;
    font-family: "inter";
    font-size: 24px;
}
.createForm button{
    width: 100%;
    height: 40px;
    background-color: #22CE00;
    border: none;
    border-radius: 10px;
    color: white;  
    font-family: "inter";
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.createForm button:hover {
    background-color: #27ea00;
}
.links{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.tab-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Inter";
    font-size: 20px;
    width: 100%;
    gap: 10px;
    text-decoration: none;
    -webkit-user-drag: none;
    position: relative;
}
.tab-link div{
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.divider{
    width: 70%;
    height: 3px;
    padding: 0 !important;
    background-color: whitesmoke;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.2s ease;
}

.tab-link:hover .divider{
    opacity: 1;
    width: 100%;
}

.nav{
    width: 100%;
    height: 60px;
    position: fixed;
    right: 0;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 300px;
    gap: 20px;
    z-index: 4;
}
.secondNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.firstNav h2 {
    font-family: "Inter";
    font-size: 20px;
    color: white;
}
.secondNav a img{
    width: 90%;
    height: 100%;
}
.logout{
    height: 40px;
    width: 40px;
}
.secondNav a{
    font-family: "Inter";
    font-size: 16px;
    color: white;
    text-decoration: none;
}
.enter-code{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border: white 1px solid;
    border-radius: 10px;    
}
.ai-text {
    color: #B26FFF;
}

textarea:focus, input:focus{
    transition: all 0.2s ease-in-out;
    outline:solid #B26FFF 1px ;
}
@keyframes ripple-animation {
    to {
      transform: scale(5);
      opacity: 0;
    }
}

.create-btn-ripple{
    position: relative;
    overflow: hidden;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 1s linear;
    background-color: rgba(0, 0, 0, 0.119);
    pointer-events: none;
}