@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Bold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Regular.ttf) format('truetype');
    font-weight: 300;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body {
    background-color: #2b2b2b;
}