::-webkit-scrollbar{
    display: none;
}
.libraryLink {
    opacity: 1;
    width: 100%;
}
.library-container {
    width: calc(100% - 220px);
    position: relative;
    top: 80px;
    left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.created-by-me-create button {
    width: 135px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22CE00;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.created-by-me{
    top: 80px;
    left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;
}


.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #252525;
    gap: 10px;
}
.search h2 {
    font-family: "Inter";
    font-size: 26px;
    font-weight: 300;
    color: white;
}
.search form img{
    width: 25px;
    height: 25px;
}
.search form {
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 5px;
}
.search form input{
    height: 100%;
    width: 450px;
    border: none;
    padding-left: 5px;
    font-family: "Inter";
    font-size: 14px;
}
.search form button{
    background: none;
    border: none;
    cursor: pointer;
}
.created-by-me p{
    font-family: "Inter";
    font-size: 18px;
    color: white;

}

span{
    color: #B26FFF;
}
textarea:focus, input:focus{
  transition: all 0.2s ease-in-out;
  outline:solid #B26FFF 1px ;
}

#createQuiz a {
    padding: 20px 0;
}

.quizes {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    padding: 0 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 400px;
    height: 450px;
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
    text-decoration: none;

}

.quiz div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.quiz h3 {
    font-size: 24px;
    width: 100%;
    
}

.quiz p {
    font-size: 20px;
    font-weight: 300;
}

.desc {
    height: 100px;
}
.quiz img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
}
.quiz-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 60%;
    width: 100%;
}