::-webkit-scrollbar{
    display: none;
}
.created-by-me-create{
    position: relative;
    top: 80px;
    left: 220px;
    width: calc(100% - 220px);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130.5px;
    background-color: #262626;
    border-radius: 0;
}
.created-by-me-create h2{
    font-family: 'Inter';
    color: white;
    font-weight: 300;
    font-size: 24px;
}

.created-by-me-create button {
    width: 135px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22CE00;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;

}
.created-by-me-create button a{
    text-decoration: none;
    color: white;
    width: 100%;
    /* height: 100%; */
    text-align: center;

}
.created-by-me{
    width: calc(100% - 220px);
    position: relative;
    top: 80px;
    left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;
}

form{
    height: 47px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
    overflow: hidden;
    gap: 5px;
}

form img{
    width: 25px;
    height: 25px;
}

form input{
    height: 100%;
    width: 475px;
    border: none;
    background: none;
    font-family: "Inter";
    font-size: 16px;

}

form button{
    height: 100%;
    width: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.created-by-me p{
    font-family: "Inter";
    font-size: 18px;
    color: white;

}

span{
    color: #B26FFF;
}
textarea:focus, input:focus{
  transition: all 0.2s ease-in-out;
  outline:solid #B26FFF 1px ;
}

#createQuiz a {
    padding: 20px 0;
}

.quizes {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: calc(100% - 220px);
    position: absolute;
    left: 220px;
    top: 355px;
    gap: 10px;
    padding: 0 180px;
    padding-bottom: 25px;
    flex-wrap: wrap;    
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 400px;
    height: 450px;
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 10px;
    gap: 10px;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
    text-decoration: none;

}

.quiz div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.quiz h3 {
    font-size: 24px;
    width: 100%;
    
}

.quiz p {
    font-size: 20px;
    font-weight: 300;
}

.desc {
    height: 100px;
}
.quiz img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
}
.quiz-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 60%;
    width: 100%;
}