* {
    color: white;
}
.reportsLink {
    opacity: 1;
    width: 100%;
}
#deleteReport{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 52px;
    height: 52px;
    background-color: #212121;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    left: 220px;
    top: 40px;
    width: calc(100% - 220px);

}
.wrapper h1{
    font-size: 26px;    
    font-weight: 500;   
}
.report{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center; 

    padding: 10px 20px 30px;
    gap: 10px;
    background-color: #3A3A3A;
    border-radius: 30px;

}

.header-report{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
.tabs{
    display: flex;
    gap: 10px;
}
.selected{
    color: #9C47FF;
    border: none;
    border-bottom: #9C47FF 5px solid;
    
}
.not {
    color: #AFAFAF;
    border: none;
}

.tab{
    font-size: 22px;
    font-weight: 300;
    border-radius: 5px;
    
    background: none;
    padding: 10px;
}
.sorting{
    display: flex;
    align-items: center;
}
.sorting p{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;

}

#sortBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    background-color: #505050;
    border-radius: 8px;
    border: white 1px solid;
    cursor: pointer;
}
.judah {
    position: relative;
    width: 98%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
}
.judah.hide {
    display: none;
}
.colors-of-correctness {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.colors-of-correctness div {
    display: flex;
    align-items: center;
    gap: 5px;
}
#correct {
    width: 20px;
    height: 20px;
    background-color: #04C184;
    border-radius: 45px;
}
#wrong {
    width: 20px;
    height: 20px;
    background-color: #F03C39;
    border-radius: 45px;
}
#passed {
    width: 20px;
    height: 20px;
    background-color: #626875;
    border-radius: 45px;
}

.sort-data {
    width: 100%;
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #2b2b2b;
}
.sort-data p {
    font-size: 20px;
    
}
.table-headers {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.table-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.data {
    display: flex;
    flex-direction: row;
    gap: 55px;
    margin-left: 45px;
}
.student-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85px;
    gap: 25px;
    padding: 10px 30px;
    align-items: center;
    border-top: #2B2B2B 2px solid;
    cursor: pointer;
}
.nickname {
    width: 180px;
}
.percent {
    width: 100px;
    padding-left: 40px;
}
.student-card h5 {
    font-size: 18px;
    font-weight: 400;
}
.successful-a {
    width: 67%;
    height: 22px;
    background-color: #2b2b2b;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: hidden;
}
.answer {
    width: 100%;
    height: 100%;
}
.correct {
    background-color: #04C184;
}
.wrong {
    background-color: #F03C39;
}
.skipped {
    background-color: #626875;
}

.modal.show {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    flex-direction: column;
    align-items: center;
    width: 760px;
    max-height: 90vh;
    background-color: #414141;
    border-radius: 15px;
    padding: 20px 10px;
    gap: 10px;  
}
.what-student h3 {
    font-size: 24px;
    font-weight: 300;
}

.line-between{
    width: 100%;
    height: 1px;
    background-color: #696969;  
}
#modalAnswers{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    max-height: 95%;
    overflow-y: scroll;
}
.question{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    width: 100%;
    background-color: #323232;
    border-radius: 5px;
}
.question h3{
    font-size: 24px;
    font-weight: 400;
}
.question h4{
    font-size: 20px;
    font-weight: 300;
}
.correctQ{
    border-top: #22CE00 4px solid;
}
.wrongQ{
    border-top: #F03C39 4px solid;
}
.skippedQ {
    border-top: #626875 4px solid;
}
.answers{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.points{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    font-weight: 400;
}
#closeModal {
    width: 152px;
    height: 41px;
    border-radius: 5px;
    background-color: #B26FFF;
    border: none;
    cursor: pointer;
}
#blurrrr {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    backdrop-filter: blur(2.5px);
}

#blurrrr.show {
    visibility: visible;
    opacity: 1;
}

::-webkit-scrollbar {
    display: block;
}

#deleteModal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    flex-direction: column;
    align-items: center;
    background-color: #3e3e3e;
    border-radius: 14px;
    padding: 10px;
    gap: 15px;
}
#deleteModal h3{
    font-size: 24px;
    font-weight: 300;
}
#deleteModal h3 span{
    font-weight: 600;
    text-decoration: underline;
}
#deleteModal hr {
    width: 95%;
    border: 1px solid #696969;
}
#deleteModal p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.4;
    padding: 0 10px;
}
.buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.button {
    width: 152px;
    height: 41px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#cancel {
    background-color: #B26FFF;
    border: none;
}
#confirm {
    background: none;
    border: 2px solid white;
}
/*  */
.chart-container {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.chart-container.hide {
    display: none;
}
.chart-card {
    background: #272727;
    border: 1px solid #2b2b2b;
    border-radius: 12px;
    padding: 25px;
    width: 100%;
}

.chart-card h3 {
    text-align: center;
    color: #fff;
    font-weight: 500;
}