* {
    font-family: 'Inter';
    color: white;
}
.reportsLink {
    opacity: 1;
    width: 100%;
}
.summary-conteiner{
    position: relative;
    top: 80px;
    left: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 15px;
    width: calc(100% - 220px);

}

.reports-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    background-color: #3a3a3a;
}

.reports-info {
    width: 100%;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
    overflow: hidden;
}
.titles {
    width: 100%;
    height: 44px;
    display: grid;
    grid-template-columns: 170px 40px 1fr 380px;
    gap: 30px;
    align-items: center;
    background-color: #2b2b2b;
}
.titlessub {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 40px;
}
.reports {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.report {
    position: relative;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 155px 75px 1fr 330px;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    gap: 10px;
    text-decoration: none;
    border-top: 2px #2b2b2b solid;
}
.infoRoom {
    display: grid;
    grid-template-columns: 95px 85px 100px;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
}
.report img  {
    width: 140px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
}
.titleRoom {
    display: flex;
    align-items: center;
    gap: 5px;
}
#name{
    position: relative;
    font-size: 20px;
    font-weight: 400;
}
#code{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #B26FFF;
}
#rate {
    text-align: center;
}
#students {
    text-align: center;
}
#date1 {
    text-align: center;
}

.name-div {
    display: flex;
    align-items: center;
    gap: 50px;
}
.info-div {
    display: flex;
    align-items: center;
    gap: 40px;
}
.hideform {
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.showform {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
#blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 10;


    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2.5px);

}

.form button {
    width: 155px;
    height: 41px;
    background-color: #B26FFF;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#SaveAndExit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    background-color: #9C47FF;
    border: none;
    cursor: pointer;
}
#SaveAndExit p{
    font-size: 18px;
    font-weight: 300;
}
#SaveAndExit img{
    width: 22px;
    height: 22px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 365px;
    padding: 30px 30px;
    gap: 20px;
    background-color: #414141;
    border-radius: 10px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    
}

.form h2 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
}
.form h3 {
    font-size: 18px;
    color: white;
    font-weight: 400;
    text-align: center;
}
.form div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#deleteButton {
    background: none;
    font-size: 16px;
    color: #B26FFF;
    border: #B26FFF 2px solid;
    border-radius: 5px;
    cursor: pointer;
}
.archive-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #262626;
    display: flex;
    justify-items: center;
    padding: 10px;
    border-radius: 10px;
}
.archive-btn > img {
    width: 100%;
}