body {
    overflow-x: hidden;
}

.nav {
    position: sticky;
}

.header {
    display: flex;
    align-items: center;
    width: calc(100% - 88px);
    height: 78px;
    padding: 0 44px;
}

.header h2 {
    font-size: 32px;
    font-family: "Inter";
    font-weight: bold;
    color:  white;
}

.quiz-icon-container {
    background-image: url(../images/test.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #3F434C;
    border-radius: 100px;
    min-width: 140px;
    height: 141px;
}
.passed-by-me{
    width: 1270px;
    height: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.quiz{
    display: flex;
    align-items: center;
    width: 92%;
    height: 170px;
    background-color: 262626;
    border-radius: 30px;
    padding-right: 30px;
    overflow: hidden;
    gap: 15px;
}

.quiz-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quiz img{
    height: 170px;
    width: 250px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.info{
    width: 60%;
    font-family: "Inter";
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 5px;
}

form button{   
    background-color: 262626;
    border: none;
    margin-bottom: 10px;
}
form img{
    border-radius: 50%;
    width: 10px;
    height: 20px;
    
}

#view-btn {
    font-weight: bold;
    font-size: 15px;
    color: #262626;
    background-color: #22CE00;
    border-radius: 100px;
    height: 49px;
    padding: 0 20px;
}

#delete-btn {
    background-color: #464C66;
    border-radius: 100px;
    width: 52px;
    height: 49px;
    cursor: pointer;
}

#delete-btn img {
    width: 20px;
    height: 20px;
}

.row {
    display: flex;
    align-items: center;
}

.view-or-delete {
    gap: 20px;
}