header{
    position: relative;
    top: 80px;
    left: 220px;
    width: calc(100% - 220px);
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 130.5px;
    background-color: #262626;
}
header h2{
    font-family: 'Inter';
    color: white;
    font-weight: 300;
    font-size: 24px;
}

.passed-quizes{
    position: relative;
    top: 80px;
    left: 220px;
    width: calc(100% - 220px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 50px;
    gap: 10px;
}
.quiz{
    position: relative;
    width: 325px;
    background-color: #373737;
    border-radius: 10px;  
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px; 
    color: white;
}
.quiz div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.quiz h3{
    font-size: 20px;
    font-weight: 400;
}
.quiz h4{
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
}
#desc{
    width: 100%;
    height: 50px;
    border-left: white 1px solid;
    padding-left: 10px;
}
.quiz p{    
    font-weight: 300;
}
.quiz img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}