.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top:45px;
}
.welcome-text{
    color: white;
    font-family: "inter";
    font-size: 35px;
    font-weight: 300;
}
span{
    color: #B479ED;
}
.quote{
    color: white;
    font-family: "inter";
    font-size: 60px;
    width: 800px;
    height: 160px;
    text-align: center;
    line-height: 90px;
}
.line{
    background-color: white;
    height: 2px;
    width: 900px;
    margin: 25px;
}
.welcome-information{
    color: white;
    font-family: 'inter';
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}
#name{
    
    font-family: Inter;
    font-weight: 500;
}

.block-quizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px;
    color: white;
    width: 100%;
}

.quizes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    background-color: #212121;
    border-radius: 15px;
    overflow-x: auto;
    width: 95%;
}

.quiz {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-width: 300px;
    height: 350px;
    background-color: #3d3d3d;
    border-radius: 10px;
    font-family: Inter;
    text-decoration: none;
    color: white;
}

.description {
    height: 180px;
    font-weight: 300;
}

h3 {
    font-size: 22px;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
}
.quiz img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}