.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top:45px;
}
.welcome-text{
    color: white;
    font-family: "inter";
    font-size: 35px;
    font-weight: 300;
}
h2 > a, span{
    color: #B479ED;
    -webkit-user-drag: none;
    text-decoration: none;
}
h2 > a:hover {
    text-decoration: underline;
}
.quote{
    color: white;
    font-family: "inter";
    font-size: 60px;
    width: calc(800px);
    height: calc(160px);
    text-align: center;
    line-height: 90px;
}
.line{
    background-color: white;
    height: calc(2px);
    width: calc(900px);
    margin: 25px;
}
.welcome-information{
    color: white;
    font-family: 'inter';
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}
#name{
    font-family: Inter;
    font-weight: 500;
}

.block-quizes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px;
    color: white;
    width: calc(100%);
}

.quizes {
    position: relative;
    padding: 15px;
    padding-bottom: 2px;
    background-color: #212121;
    border-radius: 15px;
    width: calc(100% - 5%);
}

.quizes > div {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
}

.quizes > div::-webkit-scrollbar {
    background-color: #212121;
}

.quizes > div::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border: 6px solid #212121;
    border-radius: 10px;
}

.quizes > div::-webkit-scrollbar-thumb:hover {
    border-width: 4px;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    background-size: calc(35px);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #212121;
    width: calc(50px);
    height: calc(50px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 100px;
    transform: translateY(-50%);
    transition: all 0.3s;
    z-index: 1;
}

.scroll-btn:hover {
    width: calc(54px);
    height: calc(54px);
}

.scroll-left-btn {
    background-image: url(../images/left.svg);
    left: 30px;
    cursor: e-resize;
}

.scroll-right-btn {
    background-image: url(../images/right.svg);
    right: 30px;
    cursor: w-resize;
}

.quiz {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-width: calc(300px);
    height: calc(350px);
    background-color: #3d3d3d;
    border-radius: 10px;
    font-family: Inter;
    text-decoration: none;
    color: white;
}

.description {
    height: calc(180px);
    font-weight: 300;
}

h3 {
    font-size: 22px;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
}

.quiz img {
    width: calc(100%);
    height: calc(120px);
    object-fit: cover;
    border-radius: 10px;
}