{% extends "base_admin.html" %}

{% block title  %}
Library
{% endblock %}

{% block head  %}
<link rel="stylesheet" href="{{url_for('library_app.static', filename = 'css/library.css')}}">
{% endblock %}

{% block content %}
    <div class = "created-by-me-create">
        <h2>Створено мною</h2>
        <button id = 'createQuiz' class="create-btn-ripple">
            <input type="hidden" id="quizCreate" value="{{ create_quiz_id }}">
            <a href="/create-quiz/">
                + Створити
            </a>
        </button>
    </div>
    
    <div class = "created-by-me">
        <h1>Давайте створемо вашу першу вікторину! </h1>
        <form class="search-line">
            <img src="{{ url_for('admin_app.static', filename= 'images/search.svg') }}">
            <input type="text" placeholder="Знайдіть будь-яку тему...">
            <button>
                <img src="{{ url_for('admin_app.static', filename= 'images/search_button.svg') }}">
            </button>
        </form> 
        <p>Або створіть його, використавши <span>GPTQuiz AI</span></p>
    </div>

    <div class="quizes">
        {% for quiz in created_quizes %}    
            <div class="quiz">
                <h3>{{ quiz.name }}</h3>
                <div>
                    <p id="desc">{{ quiz.description }}</p>
                    <hr>
                    <p>{{ quiz.count_questions }} Запитань</p>
                    <hr>
                    <p>Було використано для <br> проходженння: {{ quiz.codes|length }}</p>
                </div>
            </div>
        {% endfor %}        
    </div>

    <script src="{{ url_for('library_app.static', filename = 'js/createQuiz.js')}}"></script>
{% endblock %}