{% extends "base_admin.html" %}

{% block title  %}
Library
{% endblock %}

{% block head  %}
<link rel="stylesheet" href="{{url_for('library_app.static', filename = 'css/library.css')}}">
{% endblock %}

{% block content %}
    <form method="post" action="/get-draft/" class = "created-by-me-create">
        <h2>Створено мною</h2>
        <button id = 'createQuiz' class="create-btn-ripple createQuiz">
            <p href="/create-quiz/">
                + Створити
            </p>
        </button>
    </form>
    
    <div class = "created-by-me">
        <h1>Давайте створемо вашу першу вікторину! </h1>
        <form class="search-line" id="searchForm">
            <img src="{{ url_for('admin_app.static', filename= 'images/search.svg') }}">
            <input type="text" id="searchInput" placeholder="Знайдіть будь-яку тему...">
            <button>
                <img src="{{ url_for('admin_app.static', filename= 'images/search_button.svg') }}">
            </button>
        </form> 
        <p>Або створіть його, використавши <span>GPTQuiz AI</span></p>
    </div>

    <div class="quizes">
        {% for quiz in created_quizes %}    
            <a href="/host/{{ quiz.id }}" class="quiz">
                <img src="{{ url_for('library_app.static', filename= quiz.image) }}" alt="">
                <div class="quiz-info">
                    <h3>{{ quiz.name }}</h3>
                    <div>
                        <p class="desc">{{ quiz.description }}</p>
                        <hr>
                        <p>{{ quiz.count_questions }} Запитань</p>
                        <hr>
                        <p>Було використано для <br> проходженння: {{ quiz.codes|length }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}        
    </div>
    
    <script src="{{ url_for('library_app.static', filename='js/description.js') }}"></script>
    <script src="{{ url_for('library_app.static', filename='js/search.js') }}"></script>
{% endblock %}